In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\mateus\OneDrive\Área de Trabalho\arquivos_csv\Clientes.csv", delimiter=",")
df.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [4]:
# Filtrar somente o estado Mato Grosso
estado = df.loc[df["state"] == "Mato Grosso"]
estado.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
66,66,2018-10-18 04:31:59,Stephanie,Abreu,stephanie@meu_email.com,9 6466-2389,Brasil,Mato Grosso,Rua 19 do Estado Mato Grosso,53.0,Conjunto 13
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN

In [5]:
# Escolher vários estados
lista_estados = ["Rio de Janeiro", "Ceará", "Bahia", "Rondônia"]
estado2 = df.loc[df["state"].isin(lista_estados)]
estado2.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
43,43,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20

In [10]:
# Substituindo os valores nulos
df["street"] = df["street"].fillna("Não Registrado")
df["number"] = df["street"].fillna("Sem Número")
df["additionals"] = df["street"].fillna("Sem Registro")

In [11]:
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,Não registrado,Não registrado,Não registrado
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Não registrado,Não registrado,Não registrado
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,Não registrado,Não registrado,Não registrado
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná

In [13]:
df["state"] = df["state"].replace("São Paulo", "SP")
df["state"] = df["state"].replace("Distrito Federal", "DF")
df["state"] = df["state"].replace("Acre", "AC")
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,AC,Não registrado,Não registrado,Não registrado
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,SP,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Não registrado,Não registrado,Não registrado
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,Não registrado,Não registrado,Não registrado
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná

In [14]:
#Substituindo em forma de variável:
valor_original = "Paraná"
valor_novo = "PR"

df["state"] = df["state"].replace(valor_original, valor_novo)
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,AC,Não registrado,Não registrado,Não registrado
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,SP,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo,Avenida 59 do Estado São Paulo
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Não registrado,Não registrado,Não registrado
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia,Praça 56 do Estado Bahia
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,Não registrado,Não registrado,Não registrado
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe,Praça 73 do Estado Sergipe
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,PR,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná,Rua 61 do Estado Paraná
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso,Praça 75 do Estado Mato Grosso
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,PR,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná,Avenida 19 do Estado Paraná